<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/header.html :: header"></head>
<body id="page-top">
<!-- Navigation-->
<div th:insert="fragments/menuAdmin.html :: menuAdmin"></div>
<!-- Masthead-->
<header class="headergestion">
</header>
<section class="contact spad">
    <div class="alert alert-danger" th:if="${message != null}"
         th:text="${message}"></div>
    <div class="alert alert-success" th:if="${successMsg != null}"
         th:text="${successMsg}"></div>
    <h1 style="text-align: center">
        Bienvenid@ <span sec:authentication="name">nombre</span>, en esta sección podrás crear, editar y/o listar todos
        los cursos.
    </h1>
    <hr>
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Gestión de Cursos</h2>
    </div>
    <div class="container">
        <button id="crearCurso" type="button" onclick="window.location.href='/admin/lessons/actions/create'"
                class="btn btn-primary text-uppercase">Crear Curso
        </button>
        <input type="text" id="searchTerm" onkeyup="doSearch()" placeholder="Buscar por coincidencia de caracteres"/>
        <table class="table table-hover" id="datos">
            <thead>
            <tr>
                <th scope="col" onclick="sortTable(0)" style="cursor:pointer">Nombre del curso <i class="fa fa-sort" style="font-size:13px;"></i></th>
                <th scope="col" onclick="sortTable(1)" style="cursor:pointer">Categoría <i class="fa fa-sort" style="font-size:13px;"></i></th>
                <th scope="col" onclick="sortTable(2)" style="cursor:pointer">Modalidad <i class="fa fa-sort" style="font-size:13px;"></i></th>
                <th scope="col">Horas recomendadas</i></th>
                <th scope="col">Editar</th>
                <th scope="col">Deshabilitar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="manageLessons: ${lessonDTOS}" th:if="${manageLessons.enabled == true}">
                <td><a th:href="@{/lessons/{id}(id=${manageLessons.id})}" th:text="${manageLessons.name}"></a></td>
                <td th:text="${manageLessons.categoryName}"></td>
                <td th:text="${manageLessons.modalityName}"></td>
                <td th:text="${manageLessons.hourQuantity}"></td>
                <td><a th:href="@{/admin/lessons/actions/edit/{id}(id=${manageLessons.id})}" th:text="'editar'"
                       class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                <form th:action="@{/admin/lessons/actions/changeLessonStatus}" method="POST"
                      onsubmit="return confirmationDeshabilitar()">
                    <input type="hidden" name="lessonId" th:value="${manageLessons.id}">
                    <input type="hidden" name="enabled" value="false">
                    <td>
                        <button th:text="'deshabilitar'" type="submit"
                                class="btn btn-danger"><i class="fas fa-user-times ml-2"></i></button>
                    </td>
                </form>
            </tr>
            <tr></tr>
            </td>
            </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="contact spad">
    <hr>
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Asginaciones Curso a Docente</h2>
    </div>
    <div class="container">
        <button id="crearCurso" type="button"
                onclick="window.location.href='/admin/lessons/actions/lessonteacher/create'"
                class="btn btn-primary text-uppercase">Asignar curso a docente
        </button>
        <input type="text" id="searchTerm2" onkeyup="doSearch2()" placeholder="Buscar por coincidencia de caracteres"/>
        <table class="table table-hover" id="datos2">
            <thead>
            <tr>
                <th scope="col" onclick="sortTable2(0)" style="cursor:pointer">Nombre del docente <i class="fa fa-sort" style="font-size:13px;"></i></th>
                <th scope="col" onclick="sortTable2(1)" style="cursor:pointer">Nombre del curso <i class="fa fa-sort" style="font-size:13px;"></i></th>
                <th scope="col">Editar</th>
                <th scope="col">Deshabilitar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lessonTeacherDTO: ${lessonTeacherDTOS}" th:if="${lessonTeacherDTO.enabled == true}">
                <td th:text="${lessonTeacherDTO.userName}"></td>
                <td th:text="${lessonTeacherDTO.lessonName}"></td>
                <td><a th:href="@{/admin/lessons/actions/lessonteacher/edit/{id}(id=${lessonTeacherDTO.id})}"
                       th:text="'editar'"
                       class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                <form th:action="@{/admin/lessons/actions/changeTeacherLessonStatus}" method="POST"
                      onsubmit="return confirmationDeshabilitar()">
                    <input type="hidden" name="lessonTeacherId" th:value="${lessonTeacherDTO.id}">
                    <input type="hidden" name="enabled" value="false">
                    <td>
                        <button th:text="'deshabilitar'" type="submit"
                                class="btn btn-danger"><i class="fas fa-user-times ml-2"></i></button>
                    </td>
                </form>
            </tr>
            </td>
            </td>
            </tr>
            <tr></tr>
            </tbody>
        </table>
    </div>
</section>
<section class="contact spad">
    <hr>
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Categorias</h2>
    </div>
    <div class="container">
        <button id="crearCurso" type="button" onclick="window.location.href='/admin/lessons/actions/category/create'"
                class="btn btn-primary text-uppercase">Crear Categoria
        </button>
        <input type="text" id="searchTerm3" onkeyup="doSearch3()" placeholder="Buscar por coincidencia de caracteres"/>
        <table class="table table-hover" id="datos3">
            <thead>
            <tr>
                <th scope="col" onclick="sortTable3(0)" style="cursor:pointer">Nombre <i class="fa fa-sort" style="font-size:13px;"></i></th>
                <th scope="col">Descripción</th>
                <th scope="col">Editar</th>
                <th scope="col">Deshabilitar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category: ${categorys}" th:if="${category.enabled == true}">
                <td th:text="${category.name}"></td>
                <td th:text="${category.description}"></td>
                <td><a th:href="@{/admin/lessons/actions/category/edit/{id}(id=${category.id})}" th:text="'editar'"
                       class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                <form th:action="@{/admin/lessons/actions/changeLessonCategoryStatus}" method="POST"
                      onsubmit="return confirmationDeshabilitar()">
                    <input type="hidden" name="lessonCategoryId" th:value="${category.id}">
                    <input type="hidden" name="enabled" value="false">
                    <td>
                        <button th:text="'deshabilitar'" type="submit"
                                class="btn btn-danger"><i class="fas fa-user-times ml-2"></i></button>
                    </td>
                </form>
            </tr>
            </td>
            </td>
            </tr>
            <tr></tr>
            </tbody>
        </table>
    </div>
</section>
<section class="contact spad">
    <hr>
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Modalidades</h2>
    </div>
    <div class="container">
        <button id="crearCurso" type="button" onclick="window.location.href='/admin/lessons/actions/modality/create'"
                class="btn btn-primary text-uppercase">Crear Modalidad
        </button>
        <input type="text" id="searchTerm4" onkeyup="doSearch4()" placeholder="Buscar por coincidencia de caracteres"/>
        <table class="table table-hover" id="datos4">
            <thead>
            <tr>
                <th scope="col" onclick="sortTable4(0)" style="cursor:pointer">Nombre de la modalidad <i class="fa fa-sort" style="font-size:13px;"></i></th>
                <th scope="col">Editar</th>
                <th scope="col">Deshabilitar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="modality: ${modalitys}" th:if="${modality.enabled == true}">
                <td th:text="${modality.name}"></td>
                <td><a th:href="@{/admin/lessons/actions/modality/edit/{id}(id=${modality.id})}" th:text="'editar'"
                       class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                <form th:action="@{/admin/lessons/actions/changeLessonModalityStatus}" method="POST"
                      onsubmit="return confirmationDeshabilitar()">
                    <input type="hidden" name="lessonModalityId" th:value="${modality.id}">
                    <input type="hidden" name="enabled" value="false">
                    <td>
                        <button th:text="'deshabilitar'" type="submit"
                                class="btn btn-danger"><i class="fas fa-user-times ml-2"></i></button>
                    </td>
                </form>
            </tr>
            </td>
            </td>
            </tr>
            <tr></tr>
            </tbody>
        </table>
    </div>
</section>
<section class="contact spad">
    <hr>
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Estados</h2>
    </div>
    <div class="container">
        <button id="crearCurso" type="button" onclick="window.location.href='/admin/lessons/actions/status/create'"
                class="btn btn-primary text-uppercase">Crear Estado
        </button>
        <input type="text" id="searchTerm5" onkeyup="doSearch5()" placeholder="Buscar por coincidencia de caracteres"/>
        <table class="table table-hover" id="datos5">
            <thead>
            <tr>
                <th scope="col" onclick="sortTable5(0)" style="cursor:pointer">Nombre de estado <i class="fa fa-sort" style="font-size:13px;"></i></th>
                <th scope="col">Editar</th>
                <th scope="col">Deshabilitar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="status: ${status}" th:if="${status.enabled == true}">
                <td th:text="${status.name}"></td>
                <td><a th:href="@{/admin/lessons/actions/status/edit/{id}(id=${status.id})}" th:text="'editar'"
                       class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                <form th:action="@{/admin/lessons/actions/changeLessonStatusesStatus}" method="POST"
                      onsubmit="return confirmationDeshabilitar()">
                    <input type="hidden" name="lessonStatusId" th:value="${status.id}">
                    <input type="hidden" name="enabled" value="false">
                    <td>
                        <button th:text="'deshabilitar'" type="submit"
                                class="btn btn-danger"><i class="fas fa-user-times ml-2"></i></button>
                    </td>
                </form>
            </tr>
            </td>
            </td>
            </tr>
            <tr></tr>
            </tbody>
        </table>
    </div>
</section>
<hr>
<footer th:insert="fragments/footerLogin.html :: footerLogin">
</footer>
<!-- Bootstrap core JS-->
<div th:insert="fragments/jsInclude.html :: jsInclude"></div>
</body>
</html>
