<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/header.html :: header"></head>
<body id="page-top">
<!-- Navigation-->
<div th:insert="fragments/menuAdmin.html :: menuAdmin"></div>
<!-- Masthead-->
<header class="headergestion">
</header>
<section class="contact spad">
    <h1 style="text-align: center">
        Bienvenid@ <span sec:authentication="name">nombre</span>, en esta sección podrás crear, editar y/o listar todos los cursos.
    </h1>
    <hr>
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Gestión de Cursos</h2>
    </div>
    <div class="container">
        <button id="crearCurso" type="button" onclick="window.location.href='/admin/lessons/actions/create'" class="btn btn-primary text-uppercase">Crear Curso</button>
        <input type="text" id="searchTerm" onkeyup="doSearch()" placeholder="Buscar por coincidencia de caracteres"/>
        <table class="table table-hover" id="datos">
            <thead>
            <tr>
                <th scope="col">Nombre del curso</th>
                <th scope="col">Categoría</th>
                <th scope="col">Modalidad</th>
                <th scope="col">Horas recomendadas</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="manageLessons: ${lessonDTOS}">
                <td><a th:href="@{/lessons/{id}(id=${manageLessons.id})}" th:text="${manageLessons.name}" ></a></td>
                <td th:text="${manageLessons.categoryName}"></td>
                <td th:text="${manageLessons.modalityName}"></td>
                <td th:text="${manageLessons.hourQuantity}"></td>
                <td><a th:href="@{/admin/lessons/actions/edit/{id}(id=${manageLessons.id})}" th:text="'editar'"
                       class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
               <!-- <form th:action="@{/administrador/eliminarSolicitud/{id}(id=${visualizarSolicitudes.id_clase})}" onsubmit="return confirmationEliminarSolicitud()">
                <td th:text="${visualizarSolicitudes.getCursoEntity().nombre}"></td>
                <td th:text="${visualizarSolicitudes.getCursoEntity().categoria}"></td>
                <td th:text="${visualizarSolicitudes.getAlumnoEntity().nombreAl+' '+visualizarSolicitudes.getAlumnoEntity().apellido}"></td>
                <td th:text="${visualizarSolicitudes.modalidad}"></td>
                <td class="text-center" th:text="${visualizarSolicitudes.fecha}"></td>
                <td class="text-center" th:text="${visualizarSolicitudes.hora_inicio}"></td>
                <td class="text-center" th:text="${visualizarSolicitudes.cantidad_de_horas}"></td>
                <td><a th:href="@{/administrador/editarSolicitud/{id}(id=${visualizarSolicitudes.id_clase})}" th:text="'editar'"
                       class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                </td>
                <td><button type="submit" th:href="@{/administrador/eliminarSolicitud/{id}(id=${visualizarSolicitudes.id_clase})}"
                       class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></button></td>
                </td>
                </form>-->
            </tr>
            <tr class='noSearch hide'>
                <td colspan="5"></td>
            </tr>
           <!--<td><a th:href="@{/lessonSchedule/actions/edit/{id}(id=${manageSchedules.id})}" th:text="'editar'"
                   class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>-->
            </td>
            </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<hr>
<footer th:insert="fragments/footerLogin.html :: footerLogin">
</footer>
<!-- Bootstrap core JS-->
<div th:insert="fragments/jsInclude.html :: jsInclude"></div>
</body>
</html>
