<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/header.html :: header"></head>
<body id="page-top">
<!-- Navigation-->
<div th:insert="fragments/menu.html :: menu"></div>
<!-- Masthead-->
<header class="headerclases">

</header>
<div class="container" th:object="${lessons}">
    <hr>
    <div class="alert alert-danger" th:if="${error != null}"
         th:text="${error}"></div>

    <div class="alert alert-success" th:if="${success != null}"
         th:text="${success}"></div>
    <div class="row">

        <div class="col-lg-12">

            <div th:insert="fragments/showLessonsDetails.html :: showLessonsDetails"></div>
            <!-- /.card -->

            <div th:insert="fragments/showLessonsTeachers.html :: showLessonsTeachers"></div>

            <div th:insert="fragments/showLessonsComments.html :: showLessonsComments"></div>
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>

<hr>
<footer th:insert="fragments/footer.html :: footer">
</footer>
<!-- Bootstrap core JS-->
<div th:insert="fragments/jsInclude.html :: jsInclude"></div>
</body>
</html>
