<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/header.html :: header"></head>

<body id="page-top" class="image-fondo">
<div class="container py-5" style="max-width: 700px">
    <div class="alert alert-danger" th:if="${error != null}"
         th:text="${error}"></div>
    <div class="card border-primary">
        <div class="card-header" th:if="${lessonScheduleDTO.id == null}">Crear Curso</div>
        <div class="card-header" th:if="${lessonScheduleDTO.id != null}">Editar Curso</div>
        <div class="card-body">
            <form th:action="@{/admin/schedules/}" th:object="${lessonScheduleDTO}" method="POST"
                  onsubmit="return confirmationCrearSolicitud()">


                <input type="hidden" class="form-control" name="id" required th:field="*{id}"/>

                <div class="form-group col-sm-6" style="max-width: 100%">
                    <label>Fecha</label>
                    <input type="Date" class="form-control" name="date" required th:field="*{date}"/>
                </div>
                <div class="form-group col-sm-7">
                    <input type="submit" class="btn btn-lg btn-primary " th:if="${lessonScheduleDTO.id == null}"
                           value="Crear Reserva"/>
                    <input type="submit" class="btn btn-lg btn-primary " th:if="${lessonScheduleDTO.id != null}"
                           value="Editar Reserva"/>
                    <input type="button" class="btn btn-lg btn-primary"
                           onclick="window.location.href='/admin/schedules/'" value="Volver atrás"/>
                </div>

            </form>
        </div>
    </div>
</div>

</div>
</section>
<hr>
<!-- Bootstrap core JS-->
<div th:insert="fragments/jsInclude.html :: jsInclude"></div>
</body>
</html>
