<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="card card-outline-secondary my-4" th:fragment="showLessonsTeachers">
    <div class="card-header">
        Docentes que realizan esta clase
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Conocimiento del curso</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Horario</th>
                <th scope="col">Valoración</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="userDTO: ${schedulesAndTeachers}">
                <td th:text="${userDTO.teacher.name}"></td>
                <td th:text="${userDTO.teacher.studyName}"></td>
                <td th:text="${userDTO.teacher.specialtys}"></td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            th:attr="data-target='#modal-'+${userDTO.teacher.id}">
                        Horario
                    </button>
                </td>
                <td class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</td>
            </tr>
            </tbody>
        </table>
        <!-- Button trigger modal -->


        <!-- Modal -->
        <div th:each="modals : ${schedulesAndTeachers}">
            <div class="modal fade" th:id="'modal-' + ${modals.teacher.id}" tabindex="-1" role="dialog"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Mi disponibilidad de horario</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-hover" th:each="schedule : ${modals.scheduleDTOS}">
                                <thead>
                                <tr>
                                    <th scope="col">Dia</th>
                                    <th scope="col">Desde</th>
                                    <th scope="col">Hasta</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${schedule.dayOfTheWeek.readable}"></td>
                                    <td th:text="${schedule.startTime}"></td>
                                    <td th:text="${schedule.endTime}"></td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-info  dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Elegir horario
                                            </button>
                                            <div class="dropdown-menu" th:each="hour : ${schedule.hours}">
                                                <a class="dropdown-item"
                                                   th:text="'De '+${hour.startHour}+' a '+${hour.endHour}"></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">Realizar reserva</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
</html>