<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/header.html :: header"></head>

<body id="page-top" class="image-fondo">
<div class="container py-5" style="max-width: 700px">
    <div class="alert alert-danger" th:if="${error != null}"
         th:text="${error}"></div>
    <div class="card border-primary">
        <div class="card-header" th:if="${specialtyEntity.id == null}">Crear especialidad</div>
        <div class="card-header" th:if="${specialtyEntity.id != null}">Editar especialidad</div>
        <div class="card-body">
            <form  th:object="${specialtyEntity}" th:action="@{/admin/users/specialty}" method="POST"
                   onsubmit="return confirmationCrearEspecialidad()">


                <input type="hidden" class="form-control" name="id" required th:field="*{id}"/>
                <input type="hidden" class="form-control" name="enabled" value="true"/>

                <div class="form-group col-sm-6" style="max-width: 100%">
                    <label>Nombre de especialidad</label>
                    <input type="text" class="form-control" name="name" required th:field="*{name}"/>
                </div>
                <div class="form-group col-sm-7">
                    <input type="submit" class="btn btn-sm btn-primary " th:if="${specialtyEntity.id == null}" value="Crear especialidad"/>
                    <input type="submit" class="btn btn-sm btn-primary " th:if="${specialtyEntity.id != null}" value="Editar especialidad"/>
                    <input type="button" class="btn btn-sm btn-primary"
                           onclick="window.location.href='/admin/users/'" value="Volver atrás"/>
                </div>

            </form>
        </div>
    </div>
</div>

</div>
</section>
<hr>
<!-- Bootstrap core JS-->
<div th:insert="fragments/jsInclude.html :: jsInclude"></div>
</body>
</html>
