<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/header.html :: header"></head>
<body id="page-top">
<!-- Navigation-->
<div th:insert="fragments/menu.html :: menu"></div>
<!-- Masthead-->
<header class="headerabout">
</header>

<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-justify">
            <h2 class="section-heading text-uppercase text-center">Historia</h2>
            <h3 class="section-subheading text-muted">Hoy en día, las redes sociales realizan un rol fundamental al
                momento querer ofrecer o buscar servicios, en el ámbito docente, por ejemplo, muchas de las personas
                tardan horas buscando profesores particulares mediante redes sociales y/o consultan a personas conocidas
                si saben de alguien que las realice. Por otra parte, cuando un docente desea realizar clases
                particulares, debe publicar su información en diversos grupos para llegar a más visualizaciones y debe
                estar renovando su publicación constantemente.
                Study & Learn nace en el año 2020 con el objetivo de facilitar la busqueda de docentes y complementar el
                conocimiento de las personas a través de variados cursos de nuestra plataforma.
            </h3>
        </div>
    </div>
    <div class="container">
        <div class="text-justify">
            <h2 class="section-heading text-uppercase text-center">Misión</h2>
            <h3 class="section-subheading text-muted">Study & Learn es una organización liderada junto a profesionales
                de la educación que tiene por finalidad impartir educación de calidad que considere conocimientos,
                valores, actitudes y habilidades que le permitan un mejor desarrollo en su diario vivir.</h3>
        </div>
    </div>
    <div class="container">
        <div class="text-justify">
            <h2 class="section-heading text-uppercase text-center">Visión</h2>
            <h3 class="section-subheading text-muted">Posicionar a Study & Learn, en un plazo de 5 años, como la
                organización referente a nivel regional de la educación particular con un nivel académico de
                excelencia.</h3>
        </div>
    </div>
</section>
<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nuestro equipo</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/4.jpg" alt=""/>
                    <h4>Nicolás Venegas</h4>
                    <p class="text-muted">Dueño y fundador de Study & Learn</p>
                </div>
            </div>
        </div>

    </div>
</section>
<hr>
<footer th:insert="fragments/footer.html :: footer">
</footer>
<!-- Bootstrap core JS-->
<div th:insert="fragments/jsInclude.html :: jsInclude"></div>
</body>
</html>
