<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/header.html :: header"></head>
<body id="page-top">
<!-- Navigation-->
<div th:insert="fragments/menu.html :: menu"></div>
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Bienvenidos a Study & Learn!</div>
        <div class="masthead-heading text-uppercase">&nbsp</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Conócenos más</a>
    </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Servicios</h2>
            <h3 class="section-subheading text-muted">¿Qué puedes obtener junto a nosotros?</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-pencil-alt fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="my-3">Cursos Particulares</h4>
                <p class="text-muted">Puedes solicitar nuestras clases particulares para que nuestros docentes se
                    dirigan a tu domicilio con el horario que más te acomode. Ademas contamos con todo el material de
                    apoyo para que puedas realizar tus clases de mejor manera.</p>
            </div>
            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="my-3">Cursos Online</h4>
                <p class="text-muted">También puedes solicitar nuestros cursos online para que puedas realizarlos desde
                    la comodidad de tu computador contando con todo el material de apoyo de nuestros docentes.</p>
            </div>
            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-user-graduate fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="my-3">Postular a tutor</h4>
                <p class="text-muted">Puedes ser parte de nuestros docentes completando un formulario en nuestra página
                    web con todos los datos solicitados.</p>
            </div>
        </div>
        <h4>El pago de cada clase debe ser realizado a mas tardar con 24 hrs de anticipación, el valor es de $6.000 por cada hora de clases (mismo valor para todos los cursos).</h4>
        <br>
        <h6>El pago se realiza mediante transferencia con los siguientes datos:</h6>
        <p>Banco Santander</p>
        <p>Cuenta corriente 0-000-73-35143-1 </p>
        <p>Rut 19.414.413-k</p>
        <p>Nombre Nicolas Venegas Ibañez</p>
        <p>Email soporte@studyandlearn.com</p>
        <p>Como comentario debe ingresar el nombre del usuario con el cual solicitó la clase, nombre de profesor, curso y el horario solicitado.</p>
    </div>
</section>
<hr>
<footer th:insert="fragments/footer.html :: footer">
</footer>
<!-- Bootstrap core JS-->
<div th:insert="fragments/jsInclude.html :: jsInclude"></div>
</body>
</html>
