<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/header.html :: header"></head>

<body id="page-top" class="image-fondo">
<div class="container py-5" style="max-width: 600px">
    <div class="alert alert-danger" th:if="${error != null}"
         th:text="${error}"></div>
    <div class="card border-primary">
        <div class="card-header">Registro</div>
        <div class="card-body">
            <form th:action="@{/register}" method="POST" th:object="${userDTO}">
                <label for="name">Nombre Completo (Ejemplo: Juan Gomez Garrido)</label>
                <div class="form-group">
                    <input class="form-control" name="name" id="name"
                           type="text"
                           pattern="([a-zA-Z]{3,30}\s* )+([a-zA-Z]{3,30}\s* )+([a-zA-Z]{3,30}\s*)"
                           placeholder="Nombre (Formato: Nombre Apellido1 Apellido2)"
                           required="required"
                           th:field="*{name}"
                           data-validation-required-message="Por favor ingresa tu nombre completo."/>
                    <p class="help-block text-danger"></p>
                </div>
                <label for="email">Email (Ejemplo: tucorreo@gmail.com)</label>
                <div class="form-group">
                    <input class="form-control" name="email" id="email" type="email"
                           pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
                           placeholder="Correo"
                           th:field="*{email}"
                           required="required" data-validation-required-message="Por favor ingresa tu correo."/>
                    <p class="help-block text-danger"></p>
                </div>
                <label for="address">Dirección (Ejemplo: Villa Las Acacias 587)</label>
                <div class="form-group">
                    <input class="form-control" name="address" pattern="[a-zA-Z0-9\s*]{10,70}" id="address" type="text" placeholder="Dirección"
                           required="required"
                           th:field="*{address}"
                           data-validation-required-message="Por favor ingresa tu dirección."/>
                    <p class="help-block text-danger"></p>
                </div>
                <label for="phone">Teléfono (Anteponer 9 a su numero, Ejemplo: 912345678)</label>
                <div class="form-group">
                    <input class="form-control" name="phone" id="phone" maxlength="9" minlength="8"
                           pattern="[9]+[0-9]+" type="text" placeholder="Teléfono" required="required"
                           th:field="*{phone}"
                           data-validation-required-message="Por favor ingresa tu teléfono."/>
                    <p class="help-block text-danger"></p>
                </div>
                <label for="password">Contraseña (minimo 5 caracteres)</label>
                <div class="form-group">
                    <input class="form-control" name="password" id="password" minlength="5" type="password"
                           placeholder="Contraseña" required="required"
                           th:field="*{password}"
                           data-validation-required-message="Por favor ingresa tu contraseña."/>
                    <p class="help-block text-danger"></p>
                </div>
                <label for="confirm_password">Confirmar Contraseña</label>
                <div class="form-group">
                    <input class="form-control" name="confirm_password" id="confirm_password" type="password"
                           placeholder="Confirmar contraseña" required="required"
                           data-validation-required-message="Ingresa tu contraseña nuevamente."/>
                    <p class="help-block text-danger"></p>
                </div>
                <div class="form-group col-sm-6" style="max-width: 100%">
                    <input type="submit" class="btn btn-lg btn-primary" value="Registrarse"/>
                    <input type="button" class="btn btn-lg btn-primary"
                           onclick="window.location.href='/index'" value="Volver a inicio"/>
                </div>

            </form>

        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<div th:insert="fragments/jsInclude.html :: jsInclude"></div>
</body>
</html>
