<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:cursor="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/header.html :: header"></head>
<body id="page-top">
<!-- Navigation-->
<div th:insert="fragments/menuDocente.html :: menuDocente"></div>
<!-- Masthead-->
<header class="headergestion">
</header>
<section class="contact spad">
    <h1 style="text-align: center">
        Bienvenid@ <span sec:authentication="name">nombre</span>, en esta sección podrás confirmar que tu clase
        ha sido realizada con éxito.
    </h1>
    <hr>
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Mis Cursos</h2>
    </div>
    <div class="container">
        <div class="alert alert-danger" th:if="${error != null}"
             th:text="${error}"></div>
        <div class="alert alert-success" th:if="${success != null}"
             th:text="${success}"></div>
        <input type="text" id="searchTerm" onkeyup="doSearch()"
               placeholder="Buscar por coincidencia de caracteres"/>
        <table id="datos" class="table">
            <thead>
            <tr>
                <th scope="col" onclick="sortTable(0)" style="cursor:pointer">Nombre del curso <i class="fa fa-sort" style="font-size:13px;"></i></th>
                <th scope="col" onclick="sortTable(1)" style="cursor:pointer">Nombre del alumno <i class="fa fa-sort" style="font-size:13px;"></i></th>
                <th scope="col" onclick="sortTable(2)" style="cursor:pointer">Modalidad <i class="fa fa-sort" style="font-size:13px;"></i></th>
                <th scope="col" onclick="sortTable(3)" style="cursor:pointer">Fecha <i class="fa fa-sort" style="font-size:13px;"></i></th>
                <th scope="col" onclick="sortTable(4)" style="cursor:pointer">Estado <i class="fa fa-sort" style="font-size:13px;"></i></th>
                <th scope="col">Cambiar estado</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lessonScheduleDTO : ${lessonScheduleDTOS}">
                <td><a th:href="@{/lessons/{id}(id=${lessonScheduleDTO.lessonId})}" th:text="${lessonScheduleDTO.lessonName}" ></a></td>
                <td th:text="${lessonScheduleDTO.studentName}"></td>
                <td th:text="${lessonScheduleDTO.modalityName}"></td>
                <td th:text="${lessonScheduleDTO.date}"></td>
                <td th:text="${lessonScheduleDTO.statusName}"></td>
                <form th:action="@{/teachers/lessons/actions/changeStatus}" method="POST" onsubmit="return confirmationCambiarEstado()">
                    <input type="hidden" name="lessonScheduleId" th:value="${lessonScheduleDTO.id}">
                    <td>
                        <select th:if="${lessonScheduleDTO.statusName != 'Finalizado' and lessonScheduleDTO.statusName != 'Cancelado' and lessonScheduleDTO.statusName != 'Agendado Pendiente de Pago'}" name="scheduleStatusId" id="scheduleStatusId">
                            <option th:each="status : ${lessonScheduleStatus}"
                                    th:if="${status.name != 'Agendado Pendiente de Pago' and status.name != 'Agendado Pagado' and status.name != 'Curso Pagado a Docente'}"
                                    th:text="${status.name}"
                                    th:value="${status.id}"
                                    th:selected="(${status.id} == *{lessonScheduleDTO.statusId})"></option>
                        </select>
                    </td>
                    <td>
                        <button th:if="${lessonScheduleDTO.statusName != 'Finalizado' and lessonScheduleDTO.statusName != 'Cancelado' and lessonScheduleDTO.statusName != 'Agendado Pendiente de Pago'}"  id="guardarCambios" type="submit" class="btn btn-primary text-uppercase">Guardar
                        </button>
                    </td>
                </form>
            </tr>
            <tr>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<hr>
<footer th:insert="fragments/footerLogin.html :: footerLogin">
</footer>
<!-- Bootstrap core JS-->
<div th:insert="fragments/jsInclude.html :: jsInclude"></div>
</body>
</html>
